.packsHeader {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #2a2e73;
    color: white;
}
.packsHeader div {
    width: 300px;
}

.packs {
    border: 1px solid;
    display: flex;
}

.buttons {
    margin-left: 70px;
}