.registrationModule {
    display: inline-block;
    width: 500px;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationForm input {
    margin-top: 20px;
}

.error {
    color: red;
    position: absolute
}

.registrationForm button {
    margin-top: 20px;
}

.registrationForm a {
    margin-top: 20px;
}
