.cardsHeader {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #2a2e73;
}
.cardsHeader div {
    width: 300px;
    color: white;
}

.cards {
    display: flex;
    border: 1px solid;
}

.buttons {
    margin-left: 95px;
}